test/xml_schemas/xroad6_esindus_v1.xsd.xml

<?xml version="1.0" encoding="UTF-8" ?> 
<xsd:schema
    targetNamespace="http://arireg.x-road.eu/producer/"
    elementFormDefault="qualified"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:swa="http://ws-i.org/profiles/basic/1.1/xsd"
    xmlns:sawsdl="http://www.w3.org/ns/sawsdl"
    xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
    xmlns:ar="http://arireg.x-road.eu/producer/">

    <xsd:complexType name="paringesindus_v4_paring">
        <xsd:sequence>
            <xsd:element name="ariregister_kasutajanimi" type="xsd:string" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Äriregistri kasutajanimi</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ariregister_parool" type="xsd:string" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Äriregistri parool</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ariregister_sessioon" type="xsd:string" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Äriregistri sessioon</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ariregister_valjundi_formaat" type="xsd:string" nillable="true" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Äriregistri väljundi formaat - "json", "xml" (vaikimisi)</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ariregistri_kood" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Maakohtu_poolt_registreeritud_isik_ariregistrikood" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Ettevõtja täpne registrikood</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="fyysilise_isiku_kood" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Füüsilise isiku täpne eesti isikukood või välisriigi isikukood</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="fyysilise_isiku_koodi_riik" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Isikukoodi riik (ISO 3166-1 alpha-3)</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="fyysilise_isiku_eesnimi" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Füüsilise isiku eesnimi</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="fyysilise_isiku_perenimi" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Füüsilise isiku perenimi</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="keel" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Klassifikaatorite tõlgete keel</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="paringesindus_v4_ettevotted">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ar:paringesindus_v4_ettevote">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Ettevõtja</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="paringesindus_v4_vastus">
        <xsd:sequence>
            <xsd:element name="ettevotjad" type="ar:paringesindus_v4_ettevotted">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Ettevõtjad</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="paringesindus_v4_ettevote">
        <xsd:sequence>
            <xsd:element name="ariregistri_kood" nillable="true" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Maakohtu_poolt_registreeritud_isik_ariregistrikood" type="xsd:int">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Ettevõtja registrikood</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="arinimi" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Arinimi" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Ettevõtja ärinimi</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="staatus" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Staatus_staatus" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Staatus</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="staatus_tekstina" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Staatus_staatus_tekstina_eesti_keeles" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Staatus tekstina</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isikud" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Isiku_rollist_tulenevad_andmed" type="ar:paringesindus_v4_isikud">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Esindusõigusega isikud</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="esindusoiguse_eritingimused" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Esindusoiguse_erisus" type="ar:paringesindus_v4_eritingimused">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Esindusõiguse eritingimused</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oiguslik_vorm" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Oiguslik_vorm_tunnus" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Õiguslik vorm</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="oiguslik_vorm_tekstina" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Oiguslik_vorm_eesti_keeles" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Õiguslik vorm tekstina</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="paringesindus_v4_isikud">

        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ar:paringesindus_v4_isik">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Isik</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="paringesindus_v4_isik">
        <xsd:sequence>
            <xsd:element name="isiku_liik" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Isiku liik - Fyysiline voi Juriidiline</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="fyysilise_isiku_eesnimi" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Eesnimi</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="fyysilise_isiku_perenimi" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Perenimi</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="fyysilise_isiku_kood" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Isikukood</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isikukood_riik" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Isikukoodi riik (ISO 3166-1 alpha-3)</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="isikukoodi_riik_tekstina" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Isikukoodi riik tekstina</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="fyysilise_isiku_synniaeg" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Sünniaeg</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="fyysilise_isiku_roll" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Isiku_roll_roll" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Roll</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="fyysilise_isiku_roll_tekstina" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Isiku_roll_tekstina" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Roll tekstina</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs="0" name="ainuesindusoigus_olemas" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Esindusoiguse_erisus" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Ainuesindusõiguse olemasolu</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="paringesindus_v4_eritingimused">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="ar:paringesindus_v4_eritingimus">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Eritingimus</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="paringesindus_v4_eritingimus">
        <xsd:sequence>
            <xsd:element name="item" sawsdl:modelReference="https://riha.eesti.ee/riha/onto/ettevotlus.ariregister/2010/r2#Esindusoiguse_erisus" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <xrd:title>Esindusõiguse tingimuse sisu</xrd:title>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="esindus_v1">
        <xsd:sequence>
            <xsd:element name="keha" type="ar:paringesindus_v4_paring" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="esindus_v1Response">
        <xsd:sequence>
            <xsd:element name="paring" type="ar:paringesindus_v4_paring" />
            <xsd:element name="keha" type="ar:paringesindus_v4_vastus" />
        </xsd:sequence>
    </xsd:complexType>

<!-- wrapper declarations -->
    <xsd:element name="esindus_v1" type="ar:esindus_v1"/>
    <xsd:element name="esindus_v1Response" type="ar:esindus_v1Response"/>
<!-- /wrapper declarations -->

</xsd:schema>
